node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env

# OS files
.DS_Store
Thumbs.db

# Coverage / testing
coverage/

# Build output
dist/
build/

# Notes
notes.txt

# Jest snapshots
**/__snapshots__/*
*.snap